[submodule "external/ProWRAS"]
	path = external/ProWRAS
	url = https://github.com/COSPOV/ProWRAS.git
[submodule "external/LoRAS"]
	path = external/LoRAS
	url = https://github.com/COSPOV/LoRAS.git
[submodule "external/CTAB-GAN"]
	path = external/CTAB-GAN
	url = https://github.com/Team-TUD/CTAB-GAN.git
